*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{

    background: linear-gradient(
        135deg,
        #0f172a,
        #1e293b,
        #334155
    );

    min-height:100vh;

    color:white;

    padding:40px;
}

/* MAIN CONTAINER */

.container{

    width:90%;

    max-width:1000px;

    margin:auto;
}

/* HEADINGS */

h1{

    text-align:center;

    margin-bottom:20px;

    font-size:42px;

    color:#38bdf8;
}

h2{

    margin-top:20px;

    margin-bottom:15px;
}

h3{

    margin-top:15px;
}

/* GLASS CARD */

.card{

    background: rgba(255,255,255,0.08);

    backdrop-filter: blur(10px);

    border:1px solid rgba(255,255,255,0.1);

    border-radius:20px;

    padding:30px;

    margin-top:30px;

    box-shadow:0 8px 20px rgba(0,0,0,0.3);
}

/* FORM */

form{

    margin-top:20px;
}

input[type="file"]{

    padding:10px;

    background:white;

    color:black;

    border-radius:10px;
}

/* BUTTONS */

button{

    padding:12px 24px;

    border:none;

    border-radius:12px;

    background: linear-gradient(
        45deg,
        #38bdf8,
        #0ea5e9
    );

    color:white;

    font-size:16px;

    cursor:pointer;

    transition:0.3s;

    margin-top:15px;
}

button:hover{

    transform:scale(1.05);

    box-shadow:0 0 15px #38bdf8;
}

/* SKILLS */

ul{

    list-style:none;

    margin-top:15px;
}

li{

    background:rgba(255,255,255,0.08);

    padding:10px;

    border-radius:10px;

    margin-top:10px;
}

/* PROGRESS BAR */

.progress-box{

    width:100%;

    height:30px;

    background:#1e293b;

    border-radius:20px;

    overflow:hidden;

    margin-top:15px;
}

.progress{

    height:100%;

    background:linear-gradient(
        90deg,
        #22c55e,
        #38bdf8
    );

    text-align:center;

    line-height:30px;

    color:white;

    font-weight:bold;
}

/* BUTTON AREA */

.btn-group{

    margin-top:30px;
}

.btn-group a{

    text-decoration:none;
}

/* TEXTAREA */

textarea{

    width:100%;

    border:none;

    border-radius:15px;

    padding:20px;

    margin-top:20px;

    font-size:16px;

    resize:none;
}